/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue-grey, 800);
$accent : mat-palette($mat-lime, 600, A100, A400);
$warn : mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #eee;
}


.container {
    max-width: 1200px;
    display: block;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}
